body {
  background: linear-gradient(45deg, #11131f, #141726);
  color: #5472e4;
  font-family: "Inter", "Monsterrat", "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", "Open Sans", "Arial", sans-serif;
}

h2{
  text-align: center;
}

p{
  font-size: 18px;
  line-height: 180%;
}

a {
  color: #9eb1ff;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #1d2e62;
  z-index: 1000;
}

.logo {
  height: 100px;
  width: 100px;
}

header > nav {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  font-size: 20px;
}

header > nav > a,
.reseaux-card > a,
.liste-projets > a {
  text-decoration: none;
}

.accueil {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
}

.infos-photo {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.infos {
  display: flex;
  flex-direction: column;
}

.infos > :is(h1, h2) {
  text-align: right;
}

.infos h1 {
  font-size: 2.5rem;
}

.infos h2 {
  font-size: 1.8rem;
}

#photo-jalil {
  display: flex;
  flex: 1;
}

#photo-jalil img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 300px;
}

button {
  height: 50px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  border: solid 3px #3a4f97;
  border-radius: 6px;
  background-color: #3e63dd;
  color: #9eb1ff;
}

button img {
  height: 30px;
  width: auto;
}

button span {
  font-size: 15px;
}

.reseaux-sociaux {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 600px;
  margin-top: 20px;
  margin-right: 210px;
}

.liste-competences {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 115%;
}

.competences ul{
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.competences li{
  text-align: left;
  width: 100%;
}

.competences li:before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

#icon-cpp::before{background-image: url(../images/cpp.svg);}
#icon-csharp::before{background-image: url(../images/c-sharp.svg);}
#icon-python::before{background-image: url(../images/python.svg);}
#icon-html::before{background-image: url(../images/html.svg);}
#icon-css::before{background-image: url(../images/css.svg);}
#icon-js::before{background-image: url(../images/javascript.svg);}
#icon-php::before{background-image: url(../images/php.svg);}
#icon-sql::before{background-image: url(../images/mysql.svg);}
#icon-unity::before{background-image: url(../images/unity.svg);}
#icon-godot::before{background-image: url(../images/godot.svg);}
#icon-github::before{background-image: url(../images/github.svg);}
#icon-gitlab::before{background-image: url(../images/gitlab.svg);}
#icon-docker::before{background-image: url(../images/docker.svg);}
#icon-uml::before{background-image: url(../images/uml.svg);}
#icon-premiere-pro::before{background-image: url(../images/premiere-pro.svg);}
#icon-photoshop::before{background-image: url(../images/photoshop.svg);}
#icon-fr::before{background-image: url(../images/flag-fr.png);}
#icon-en::before{background-image: url(../images/flag-en.png);}
#icon-de::before{background-image: url(../images/flag-de.png);}

.liste-projets, .liste-cours{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project-card, .course-card{
  height: 500px;
  width: 500px;
  border: solid 4px #304384;
  border-radius: 6px;
  margin: 10px;
  cursor: pointer;
}

.course-card{
  width: 425px;
}

.project-card img, .course-card img{
  max-height: 300px;
  min-width: 425px;
  max-width: 500px;
  object-fit: cover;
  border-bottom: solid #304384;
}

.project-card h3, .project-card p, .course-card h3, .course-card p{
  padding: 0px 10px;
}